<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h2>Login Bitch!</h2>
                <p>
                    Not a member? <span class="pointer" routerLink="/signup">Signup madi</span>
                </p>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control">
                  </div>
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </div>
        </div>
    </div>
</section>