<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <br>
        <label for="">
          Title
        </label>
        <input type="text" class="form-control" [(ngModel)]="post.title">
        <label for="">
          Content
        </label>
        <textarea name="" id="" class="form-control" [(ngModel)]="post.content"></textarea>
      </div>
    </div>
    <div class="col-4">
      <button class="btn btn-success btn-lg w-100" (click)="onPostSubmit()">Submit</button>
    </div>
  </div>
</div>
